<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Message</title>
    <link rel="stylesheet" href="/static/sucess.css">
</head>
<body>
    <div class="success-message">
        <img src="https://cdn.pixabay.com/photo/2017/05/13/03/23/success-2308607_640.jpg" alt="Success Icon">
        <h1>Success</h1>
        <p>Your data has been successfully saved. Thank you for using our service.</p>
    </div>
</body>
</html>